.user-component,
.user-component__column{
    display: flex;
    align-items: center;
}
.user-component-space{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.user-component__column-space{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.user-component__margin{
    margin-bottom: 20px;
}
.user-component__avatar{
    width: 70px;
    height: 70px;
    border-radius: 25px;
    margin-right: 15px;
}
.user-component__title{
    font-weight: 500;
    font-family: var(--jp);
    font-size: 16px;
}
.user-component__title__content{
    margin-top: 10px;
    font-family: var(--jp);
    font-size: 13px;
    color: rgba(0, 0, 0, 0.4);
    text-decoration: none;
}
.user-component__subtitle{
    margin-top: 10px;
    color: var(--red);
}
.user-component__avatar--xl{
    width: 80px;
    height: 80px;
}
.user-component__avatar--xs{
    width: 60px;
    height: 60px;
    margin-top: 20px;
}
.user-component__avatar--2x{
    width: 100px;
    height: 100px;
}
.user-component__title--not-bold{
    font-weight: 300;
    font-size: 14px;
}
.user-component__text__find-club{
    width: 60%;
}
.user-component__content{
    font-size: 12px;
    margin-top: 10px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.4);
}
.user-component__border-bottom{
    border-bottom: solid 1px rgba(0, 0, 0, 0.4);
}
.user-component__column__border-bottom__margin{
    margin-bottom: 30px;
}
.user-component__icon{
    display: flex;
    flex-direction: column;
}
.user-component__icon__time{
    font-size: 12px;
    margin-bottom: 10px;
}